<%- include("partials/header.ejs") %>
<% if (locals.data) { %>
    <div class="watch-card">

            <div class="main-content">
                <div class="poster-wrapper">
                    <img src=<%= data.images.jpg.image_url %> alt="image here">
                    <button class="btn-play">PLAY</button>
                </div>
                <div class="meta-data">
                    <h3 class="title"><%= data.title %></h3>
                    <div class="description">
                        <p><%= data.synopsis %></p>
                    </div>
                </div>


            </div>
        </div>
<% } %>
<%- include("partials/footer.ejs") %>