<%- include("partials/header.ejs") %>
    <div class="carousel-container">
        <h3>Recent update animes</h3>
        <button class="nav prev">◀</button>
        <div class="carousel">
            <% for (const anime of locals.recentAnimes) { %>
                <div class="card">
                    <img src=<%= anime.entry.images.jpg.image_url %> alt="">
                    <div class="badge">
                        <span class="rating">⭐ <br> 9.2</span>
                        <span class="episode">Episode <br> <%= anime.episodes[0].title.at(-1) %></span>
                    </div>
                </div>
                <% } %>
        </div>
        <button class="nav next">▶</button>
    </div>
    <div class="carousel-container">
        <h3>Hot TV</h3>
        <button class="nav prev">◀</button>
        <div class="carousel">
            <% for (const anime of locals.hotTvs) { %>
                <div class="card">
                    <img src=<%= anime.images.jpg.image_url %> alt="">
                    <div class="badge">
                        <span class="rating">⭐ <br> <%= anime.score %></span>
                    </div>
                </div>
                <% } %>
        </div>
        <button class="nav next">▶</button>
    </div>
    <div class="carousel-container">
        <h3>Hot OVA</h3>
        <button class="nav prev">◀</button>
        <div class="carousel">
            <% for (const anime of locals.hotOvas) { %>
                <div class="card">
                    <img src=<%= anime.images.jpg.image_url %> alt="">
                    <div class="badge">
                        <span class="rating">⭐ <br> <%= anime.score %></span>
                    </div>
                </div>
                <% } %>
        </div>
        <button class="nav next">▶</button>
    </div>
    <div class="carousel-container">
        <h3>Hot Movie</h3>
        <button class="nav prev">◀</button>
        <div class="carousel">
            <% for (const anime of locals.hotMovies) { %>
                <div class="card">
                    <img src=<%= anime.images.jpg.image_url %> alt="">
                    <div class="badge">
                        <span class="rating">⭐ <br> <%= anime.score %></span>
                    </div>
                </div>
                <% } %>
        </div>
        <button class="nav next">▶</button>
    </div>
    <%- include("partials/footer.ejs") %>